# **EXERCISES**

**1.) Given a positive integer x. Your task is to check, if it is even or odd (Any number that gives zero as remainder when divided by 2 is an even number)**

In [ ]:
n=int(input())
if(n%2==0):
  print("Even")
else:
  print("Odd")

23
Odd

**2.) Given two integer variables a and b, and a boolean variable flag. The task is to check the status and return accordingly.**
**Return True for the following cases:**

**Either a or b (not both) is non-negative and the flag is false.**
**Both a and b are negative and the flag is true.
Otherwise, return false.**

In [ ]:
a=int(input())
b=int(input())
flag=bool(input())

def checkStatus(a,b,flag):
  if(a>0 or b>0 and flag==False):
    return True
  elif(a<0 and b<0 and flag==True):
    return True
  elif(a>0 and b>0 and flag==False):
    return False
  else:
    return False

print(checkStatus(a,b,flag))

-182
-9121
True
True

**3.) There are two friends, John and Smith, and the parameters j_angry and s_angry to indicate if each is angry. You are in trouble if both of them are angry or no one of them is angry.**

**Now, complete the function which returns true if you are in trouble, else return false**

In [ ]:
def in_trouble(j_angry, s_angry):
    # You are in trouble if both are angry or neither is angry
    if (j_angry and s_angry) or (not j_angry and not s_angry):
        return True
    else:
        return False

# Example usage:
print(in_trouble(True, True))  # Output: True
print(in_trouble(True, False))  # Output: False
print(in_trouble(False, False))  # Output: True

true
true
True

**4.) You are given a string str, you need to return True if  the words "cat" and "hat" appear same number of times in str, otherwise return False.
Note: str contains only lowercase English alphabets.**

In [ ]:
str1=str(input("str= "))
str1=str1.lower()

def stringCheck(str1):
  if(str1.count("cat")==str1.count("hat")):
    return True
  else:
    return False

print(stringCheck(str1))

str= catggsysgygsiHAt
True

**5.) You are given a number N, you need to print its multiplication table.**

In [ ]:
N=int(input())

for i in range(1,11):
  print(i*N,end=" ")
  i+=1

5
5 10 15 20 25 30 35 40 45 50

**6.) You are given a string str, you need to print its characters at even indices(index starts at 0).**

In [6]:
str1=str(input("str = "))

for i in range(0,len(str1),2):
  print(str1[i],end="")

str= DoctorPhenomenal
DcoPeoea

**7.) Let's get it more clearly through this question. Given a number x, the task is to print the numbers from x to 0 in decreasing order in a single line.**

In [7]:
x=int(input("x = "))

while(x>=0):
  print(x,end=" ")
  x-=1

x = 3
3 2 1 0

**8.) Given a positive integer x, the task is to print the numbers from 1 to x in the order as 1², 2², 3², 4², 5², ... (in increasing order)**

In [18]:
x=int(input("x = "))
i=1
while(1):
  print(i**2,end=" ")
  i+=1
  if(i**2>x):
    break

x = 10
1 4 9

**9.) You are given a number n. The number n can be negative or positive. If n is negative, print numbers from n to 0 by adding 1 to n in the neg function. If positive, print numbers from n-1 to 0 by subtracting 1 from n in the pos function.**

In [24]:
n=int(input("n = "))

def neg(n):
  while(n<=0):
    print(n,end=" ")
    n+=1

def pos(n):
  while(n>=0):
    print(n,end=" ")
    n-=1

if(n<0):
  neg(n)
elif(n>0):
  pos(n)
elif(n==0):
  print("already Zero")

n = -3
-3 -2 -1 0

# **PROGRAMS**

**1.) Python Program to Check if a Number is Odd or Even**

In [26]:
n=int(input())

if(n%2==0):
  print("Even number")
else:
  print("Odd number")

41
Odd number

In [27]:
n=int(input())

if(n%2==0):
  print(n, "is an even number")
else:
  print(n, "is an odd number")

41
41 is an odd number

In [29]:
n=int(input())

if(n&1==0):
  print("Even number")
elif(n&1==1):
  print("Odd number")

2
Even number

**2.) Python Program to Check Prime Number**

In [45]:
n=int(input())

def primeCheck(n):
  for i in range(2,(n//2)+1):
    if(n%i==0):
      return False
  return True

if(primeCheck(n)):
  print(n, "is a prime number")
else:
  print(n, "is not a prime number")

25
25 is not a prime number

**3.) Python Program to Print the Natural Numbers Summation Pattern**

In [53]:
number = int(input("Enter the Natural Number: "))

for j in range(1, number+1):
    print(" + ".join(str(i) for i in range(1, j+1)), "=", sum(range(1, j+1)))

Enter the Natural Number: 5
1 = 1
1 + 2 = 3
1 + 2 + 3 = 6
1 + 2 + 3 + 4 = 10
1 + 2 + 3 + 4 + 5 = 15