# **EXERCISES**

**1.) Min and Max in Array**

**Given an array arr. Your task is to find the minimum and maximum elements in the array.**
**Note: Return an array that contains two elements the first one will be a minimum element and the second will be a maximum of an array.**

In [ ]:
arr=list(map(int,input("Enter numbers separated by space: ").split()))

print("Array is: ",arr)

print("Minimum element is: ",min(arr))
print("Maximum element is: ",max(arr))

Enter numbers separated by space: 3 2 1 56 10000 167
Array is:  [3, 2, 1, 56, 10000, 167]
Minimum element is:  1
Maximum element is:  10000

**2.)  Union of Two Arrays with Duplicate Elements**

**Given two arrays a[] and b[], the task is to find the number of elements in the union between these two arrays.
The Union of the two arrays can be defined as the set containing distinct elements from both arrays. If there are repetitions, then only one element occurrence should be there in the union.
Note: Elements are not necessarily distinct.**

In [7]:
arr1=list(map(int,input("Enter numbers separated by space: ").split()))
arr2=list(map(int,input("Enter numbers separated by space: ").split()))

print("Array a is: ",arr1)
print("Array b is: ",arr2)

set1=set(arr1)
set2=set(arr2)

arr_union = list(set1|set2)
print(len(arr_union))

Enter numbers separated by space: 1 2 3 4 5
Enter numbers separated by space: 1 2 3
Array a is:  [1, 2, 3, 4, 5]
Array b is:  [1, 2, 3]
5

**3.) Intersection of two sorted arrays**

**Given two sorted arrays arr1[] and arr2[]. Your task is to return the intersection of both arrays.
Intersection of two arrays is said to be elements that are common in both arrays. The intersection should not count duplicate elements.
Note: If there is no intersection then return an empty array.**

In [10]:
arr1=list(map(int,input("Enter numbers separated by space: ").split()))
arr2=list(map(int,input("Enter numbers separated by space: ").split()))

print("Array arr1[] is: ",arr1)
print("Array arr2[] is: ",arr2)

set1=set(arr1)
set2=set(arr2)

arr_intersection=list(set1 & set2)
print(arr_intersection)

Enter numbers separated by space: 1 2 3 4
Enter numbers separated by space: 2 4 6 7 8
Array arr1[] is:  [1, 2, 3, 4]
Array arr2[] is:  [2, 4, 6, 7, 8]
[2, 4]

# **PROGRAMS**

**1.) (a) Find Maximum of two numbers in Python (using if-else)**

In [11]:
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))

if a>b:
  print(a,"is greater than",b)
else:
  print(b,"is greater than",a)

Enter first number: 10
Enter second number: 20
20 is greater than 10

**1.) (b) Find Maximum of two numbers Using max() function**

In [16]:
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))

print("Maximum = ", max(a,b))

Enter first number: 20
Enter second number: 50
Maximum =  50

**1.) (c) Maximum of two numbers Using list comprehension**

In [14]:
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))

x=[a if a>b else b]
print("Maximum = ", x)

Enter first number: 10
Enter second number: 40
Maximum =  [40]

**1.) (d) Maximum of two numbers Using sort() method**

In [18]:
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))

x=[a,b]
x.sort()
print("Maximum = ", x[-1])

Enter first number: 70
Enter second number: 30
Maximum =  70

**2.) (a) Minimum of two numbers in Python(using if-else)**

In [19]:
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))

if a<b:
  print(a,"is less than",b)
else:
  print(b,"is less than",a)

Enter first number: 85
Enter second number: 43
43 is less than 85

**2.) (b) Minimum of two numbers in Python using min() function**

In [20]:
9a=int(input("Enter first number: "))
b=int(input("Enter second number: "))

print("Minimum = ", min(a,b))

Enter first number: 97
Enter second number: 96
Minimum =  96

**2.) (c) Minimum of two numbers using sort()**

In [21]:
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))

x=[a,b]
x.sort()
print("Minimum = ", x[0])

Enter first number: 567
Enter second number: 645
Minimum =  567

**2.) (d) Minimum of two numbers using lists**

In [22]:
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))

x=[a if a<b else b]
print("Minimum = ", x)

Enter first number: 14
Enter second number: 43
Minimum =  [14]

**3.) Swap first and last values in a list in Python using Slicing**

In [24]:
arr=list(map(int,input("Enter numbers separated by space: ").split()))
print("Array before swapping: ",arr)

if(len(arr)>=2):
  arr_rearranged=arr[-1:]+arr[1:-1]+arr[:1]
  print("Array after swapping first and last: ",arr_rearranged)

Enter numbers separated by space: 12 35 9 56 24
Array before swapping:  [12, 35, 9, 56, 24]
Array after swapping:  [24, 35, 9, 56, 12]