In [ ]:
print("Hello World")

Hello World

In [ ]:
name="Tisha"
age=20
section="AIML2"
print(name)
print(section)
print(age)

Tisha
AIML2
20

In [ ]:
name="Tisha"
age=20

name="Shrav"
age="21"

print(name)
print(age)

Shrav
21

In [ ]:
#Exercise1

firstname="Tony"
lastname="Stark"
age=51
is_genius=True

print(firstname + " " + lastname)
print(age)
print(is_genius)

Tony Stark
51
True

In [ ]:
name =input("What is your name? ")
print(name)

What is your name? Tisha
Tisha

In [ ]:
#Exercise2

name =input("What is your superhero name? ")
print("Your superhero name is " +name)

What is your superhero name? Wonder Woman
Your superhero name is Wonder Woman

In [ ]:
old_age = input("Enter your old age: ")
(new_age) = int(old_age) + 5
print("Your new age is: " +str(new_age))

Enter your old age: 15
Your new age is: 20

In [ ]:
#Program1

a = input("Enter first number: ")
b = input("Enter second number: ")
Sum=int(a)+int(b)
print("Sum= " +str(Sum))

Enter first number: 30
Enter second number: 40
Sum= 70

In [ ]:
name="Tisha"
print(name.upper())

TISHA

In [ ]:
name="Tony Stark"
print(name.find('S'))
print(name.find('Stark'))
print(name.find('s'))
print(name.find('stark'))
print(name.find(' '))

5
5
-1
-1
4

In [ ]:
name="Tony Stark"
nickname="Chris Jonathan Pratt"
print(name.replace("Tony Stark","Iron Man"))
print(nickname.replace("Jonathan","Junior"))
print(nickname.replace("Jonathan",""))

Iron Man
Chris Junior Pratt
Chris  Pratt

In [ ]:
name="Tony Stark"
print('T' in name)
print('s' in name)
print('m' in name)

True
False
False

In [ ]:
print(5+2)
print(5-2)
print(5*2)
print(5**2)
print(5/2)
print(5//2)
print(5%2)

7
3
10
25
2.5
2
1

In [ ]:
i=5
i=i+2
j=5
j+=2
print(i)
print(j)

7
7

In [ ]:
print(2>3)
print(2>3 or 2>1)
print(3<5 and 5==5)
print(not 3!=4)

False
True
True
False

In [ ]:
age=16

if age>=18:
  print("you are an adult")
  print("you can vote")
elif age<18 and age>3:
  print("you are a minor who can't vote")
else:
  print("you are a child")

print("Thank you")

you are a minor who can't vote
Thank you

In [ ]:
print("CALCULATOR")
a=int(input("Enter a number: "))
b=int(input("Enter another number: "))
op=input("Choose an operation(+,-,*,/): ")
if op=='+':
  print(a+b)
elif op=='-':
  print(a-b)
elif op=='*':
  print(a*b)
elif op=='/':
  print(a/b)
else:
  print("there is an error")

CALCULATOR
Enter a number: 4
Enter another number: 5
Choose an operation(+,-,*,/): *
20

In [ ]:
numbers=range(5) #(0,1,2,3,4)
print(numbers)

range(0, 5)

In [ ]:
i=1
while i<=5:
  print(i)
  i=i+1

1
2
3
4
5

In [ ]:
i=1
while i<=5:
  print(i * '*')
  i=i+1

*
**
***
****
*****

In [ ]:
for i in range(5):
  print(i)

print(" ")

for j in range(5):
  print(j+1)

0
1
2
3
4

1
2
3
4
5