In [ ]:
marks=[96,97,95,98, "maths", "english"]
print(marks)
print(marks[2])
print(marks[-1])
print(marks[0:4])

[96, 97, 95, 98, 'maths', 'english']
95
english
[96, 97, 95, 98]

In [ ]:
marks = [96,95,97]
for score in marks:
  print(score)

96
95
97

In [ ]:
marks = [96,95,97]

marks.append(99)
print(marks)
marks.insert(1,98)
print(marks)

print(93 in marks)

[96, 95, 97, 99]
[96, 98, 95, 97, 99]
False

In [ ]:
marks=[96,97,95,98, "maths", "english"]
print(len(marks))

6

In [ ]:
marks=[96,97,95,97]
score=0
while score<len(marks):
  print(marks[score])
  score=score+1

96
97
95
97

In [ ]:
marks=[96,97,95,98]
marks.clear()
print(marks)

[]

In [ ]:
students=["teena","meena","reena","seena","leena"]
for name in students:
  if name=="reena":
    break
  print(name)

print(" ")

for name in students:
  if name=="meena":
    continue
  print(name)

teena
meena

teena
reena
seena
leena

In [ ]:
marks=(95,98,97,97,97)   #tuple
scores=95,96,98          #tuple by default

print(marks.count(97))
print(marks.count(95))

print(marks.index(98))
print(marks.index(97))

print(scores)

3
1
1
2
(95, 96, 98)

In [ ]:
marks={97,96,95,97,97}
for score in marks:
  print(score)

96
97
95

In [ ]:
marks={"english":98, "maths":99}
marks["physics"]=94
print(marks)
marks["english"]=96
print(marks)

{'english': 98, 'maths': 99, 'physics': 94}
{'english': 96, 'maths': 99, 'physics': 94}

In [ ]:
from math import *
print(sqrt(16))

4.0

In [ ]:
def sum(first,second):
  print(first+second)

sum(1,2)

3

In [ ]:
def sum(first,second=4):
  print(first+second)

sum(2)
sum(2,5)

6
7